* {
    font-family: Raleway;
}
html, body {
    background-color: #333;
    height: 100%;
    margin: 0;
  }


  body::-webkit-scrollbar-track, .project-images-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

body::-webkit-scrollbar, .project-images-container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb, .project-images-container::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}




.container{
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr; 
    column-gap: 10px;
    row-gap: 15px; */
    position: fixed;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 50px);
}

.grid-item {
    font-size: 25px;
    color: #222;
    border: 1px solid white;

    background-color:whitesmoke;

    font-weight:bolder;
}

.grid-item:hover{
  background-color: #333;
  color: aliceblue;
  cursor: pointer;
}

